.dropdown-menu-side {
    color: white;
    padding: .3rem .4rem;
    width: 100%;
    display: block;
    cursor: pointer;
}

.dropdown-menu-content {
    width: 100%;
    display: block;
    padding: .3rem .4rem;
    background-color: #A90B04;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
}

.dropdown-menu-side:hover, .dropdown-menu-side-item:hover {
    color: #EBBF1A;
}
